<!-- <app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer> -->



<app-header></app-header>

<div class="flex">
    <div class="bg-orange-50 rounded-md w-1/2 flex flex-col justify-center items-center">
        <div class="w-2/3 space-y-4">
            <div>
                <h1 class="text-2xl font-semibold">Learn and share beautiful recipes</h1>
            </div>
            <div>
                <p>Explore thousands of recipes from amazing creators on our platform </p>
            </div>
            <div class="space-x-2 flex">
                <input type="text" class="flex-1 h-10 bg-white border-2 border-neutral-200 rounded">
                <button type="button" class="bg-lime-600 h-10 px-4 rounded text-white font-medium">Explore</button>
            </div>
        </div>
    </div>
    <div class="w-1/2">
        <img src="/assets/Images/banner.png" alt="banner" class=" rounded-r-md">
    </div>
</div>
<div class="flex flex-col items-center mt-10">
    <h2 class="text-lg font-medium">Explore recipes around the world</h2>
    <div class="flex space-x-2 mt-4">
        <button type="button" class="bg-gray-100 h-10 px-4 rounded">Hot dishes</button>
        <button type="button" class="bg-gray-100 h-10 px-4 rounded">Breakfast</button>
        <button type="button" class="bg-gray-100 h-10 px-4 rounded">Dessert</button>
        <button type="button" class="bg-gray-100 h-10 px-4 rounded">Pasta</button>
        <button type="button" class="bg-gray-100 h-10 px-4 rounded">Vegeterian</button>
        <button type="button" class="bg-gray-100 h-10 px-4 rounded">Chinese</button>
        <button type="button" class="bg-gray-100 h-10 px-4 rounded">Fish</button>
        <button type="button" class="bg-gray-100 h-10 px-4 rounded">Snacks</button>
    </div>
</div>
<hr class="mt-6">

<div class="mt-10">
    <h2>For the meat lovers</h2>
    <div class="flex space-x-5">
        <div class="border bg-grey-100 rounded-lg">
            <img src="/assets/Images/1.png" alt="recipe thumbnail">
            <h3>Easy Lasagna recipe</h3>
            <p>Cook Lasagna with these simple ingredients</p>
            <h2>5 minutes</h2>
        </div>
        <div class="border bg-grey-100 rounded-lg">
            <img src="" alt="recipe thumbnail">
            <h3>Easy Lasagna recipe</h3>
            <p>Cook Lasagna with these simple ingredients</p>
            <h2>5 minutes</h2>
        </div>
        <div class="border bg-grey-100 rounded-lg">
            <img src="" alt="recipe thumbnail">
            <h3>Easy Lasagna recipe</h3>
            <p>Cook Lasagna with these simple ingredients</p>
            <h2>5 minutes</h2>
        </div>
        <div class="border bg-grey-100 rounded-lg">
            <img src="" alt="recipe thumbnail">
            <h3>Easy Lasagna recipe</h3>
            <p>Cook Lasagna with these simple ingredients</p>
            <h2>5 minutes</h2>
        </div>
    </div>

    <h1>Vegeterian gems</h1>
    <div class="flex space-x-5">
        <div class="border bg-grey-100 rounded-lg">
            <img src="" alt="recipe thumbnail">
            <h3>Easy Lasagna recipe</h3>
            <p>Cook Lasagna with these simple ingredients</p>
            <h2>5 minutes</h2>
        </div>
        <div class="border bg-grey-100 rounded-lg">
            <img src="" alt="recipe thumbnail">
            <h3>Easy Lasagna recipe</h3>
            <p>Cook Lasagna with these simple ingredients</p>
            <h2>5 minutes</h2>
        </div>
        <div class="border bg-grey-100 rounded-lg">
            <img src="" alt="recipe thumbnail">
            <h3>Easy Lasagna recipe</h3>
            <p>Cook Lasagna with these simple ingredients</p>
            <h2>5 minutes</h2>
        </div>
        <div class="border bg-grey-100 rounded-lg">
            <img src="" alt="recipe thumbnail">
            <h3>Easy Lasagna recipe</h3>
            <p>Cook Lasagna with these simple ingredients</p>
            <h2>5 minutes</h2>
        </div>
    </div>

    <h1>Desserts</h1>
    <div class="flex space-x-5">
        <div class="border bg-grey-100 rounded-lg">
            <img src="" alt="recipe thumbnail">
            <h3>Easy Lasagna recipe</h3>
            <p>Cook Lasagna with these simple ingredients</p>
            <h2>5 minutes</h2>
        </div>
        <div class="border bg-grey-100 rounded-lg">
            <img src="" alt="recipe thumbnail">
            <h3>Easy Lasagna recipe</h3>
            <p>Cook Lasagna with these simple ingredients</p>
            <h2>5 minutes</h2>
        </div>
        <div class="border bg-grey-100 rounded-lg">
            <img src="" alt="recipe thumbnail">
            <h3>Easy Lasagna recipe</h3>
            <p>Cook Lasagna with these simple ingredients</p>
            <h2>5 minutes</h2>
        </div>
        <div class="border bg-grey-100 rounded-lg">
            <img src="" alt="recipe thumbnail">
            <h3>Easy Lasagna recipe</h3>
            <p>Cook Lasagna with these simple ingredients</p>
            <h2>5 minutes</h2>
        </div>
    </div>
</div>
<div class="flex bg-orange-50 my-24 py-10 justify-center items-center rounded-lg">
    <div class="flex flex-col w-1/2 items-center space-y-5">
        <div>
            <h2 class="text-xl font-medium">Ready to join us?</h2>
        </div>
        <div>
            <p class="text-center text-neutral-700 text-sm">You will get all your questions answered on this website, but if you need to speak to a human,
                feel free to contact us through various channels
            </p>
        </div>
        <div class="flex space-x-2">
            <button type="button" class="h-10 px-4 rounded text-lime-800 font-medium border-lime-800">Contact
                us</button>
            <button type="button" class="bg-lime-600 h-10 px-4 rounded text-white font-medium">Get Started</button>
        </div>
    </div>
</div>