<input type="text" class="flex-1 h-10 bg-white border-2 border-neutral-200 rounded">
<select name="By cuntry" id="cuntries">
    <option value="Italian">Volvo</option>
    <option value="Chinese">Saab</option>
    <option value="Georgian">Mercedes</option>
    <option value="Indian">Audi</option>
  </select>
  <select name="By cuntry" id="cuntries">
    <option value="Italian">Volvo</option>
    <option value="Chinese">Saab</option>
    <option value="Georgian">Mercedes</option>
    <option value="Indian">Audi</option>
  </select>